# Example file on how to configure the Bambu/Creality tag processors.

# Bambu Lab tagged filament detection key (32 hex characters)
[bambu_lab_tag_processor]
key = 9A759CF2C4F7CAFF222CB9769B41BC96

# Creality tagged filament detection key (32 hex characters)
[creality_tag_processor]
key = 713362755e74316e71665a2870662431
encryption_key = 484043466b526e7a404b4174424a7032

# Elegoo spools are disabled by default. They are not detected reliably on Snapmaker U1
# due to tag placement. Uncomment to enable.
#[elegoo_tag_processor]

# Tigertag is disabled by default. Uncomment to enable.
#[tigertag_tag_processor]